<link href="/css/index.css" rel="stylesheet">
<div class="first-view-container">
    <div class="filter"></div>
    <div class="container">
        <div class="welcome-message">
            <h2 class="title">TweeBeeへようこそ！</h2>
            <div class="description">
                TweeBeeはあなたの趣味を世界に発信するサービスです。<br>
            </div>
        </div>
        <div class="login-form">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Twitterアカウントでログインする</h4>
                    <div class="input-group">
                        <a style="margin: auto;" href='/cooperation'>
                            <button class="btn btn-primary" type="button">ログイン</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>