.navigation {
    height: 60px;
    display: flex;
    box-shadow: -1px 1px 10px rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    width: 100vw;
    background: white;
    z-index:1000;
}

.logo-wrapper{
    width: 53px;
    margin: auto 0px auto 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.nav-buttons {
    display:flex;
    padding-left: 15px;
}

.nav-link {
    margin: auto;
}

.body-container{
    margin-top:105px;
}