.navigation {
    height: 60px;
    display: flex;
    box-shadow: -1px 1px 10px rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    width: 100vw;
    background: #ececec;
    z-index:1000;
}

.logo-wrapper{
    height: 100%;
    width: 180px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.logo-wrapper img {
    transform: translate(-21%, -38%);
}

.nav-buttons {
    display:flex;
}

.nav-link {
    margin: auto;
}

.body-container{
    margin-top:105px;
}