@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@keyframes modal-back-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes modal-back-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
body .tb-modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
  animation: modal-back-fade-in 200ms ease-out; }
  body .tb-modal .modal-dialog {
    height: calc(100% - 3.5rem);
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    animation: fade-in 200ms ease-out; }
    body .tb-modal .modal-dialog .modal-header {
      height: calc(100% / 10 * 1); }
      body .tb-modal .modal-dialog .modal-header .modal-close {
        margin-left: auto;
        font-size: 20pt;
        cursor: pointer; }
    body .tb-modal .modal-dialog .modal-body {
      height: calc(100% / 10 * 9);
      border: none;
      padding: 0;
      overflow: hidden; }
  body .tb-modal .modal-large {
    max-width: 80vw; }
  body .tb-modal .modal-middle {
    max-width: 50vw; }
  body .tb-modal .modal-small {
    max-width: 30vw; }
body .tb-modal-close {
  animation: modal-back-fade-out 200ms ease-out; }
  body .tb-modal-close .modal-dialog {
    animation: fade-out 200ms ease-out; }

@media screen and (max-width: 768px) {
  body .tb-modal .modal-dialog {
    max-width: 100vw;
    padding: 0;
    margin: 0;
    border-radius: 0;
    height: 100vh; }
    body .tb-modal .modal-dialog .modal-content {
      border: none; } }
body .tb-alert {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  animation: fade-in 200ms ease-out;
  transition: opacity,transform 200ms ease-out; }
body .tb-alert-close {
  opacity: 0; }

.loading-img-wrapper {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

body .tb-tree-container .node {
  border-radius: 10px; }
  body .tb-tree-container .node img {
    width: 5em;
    border-radius: 5px; }
  body .tb-tree-container .node p {
    margin: 0; }
body .tb-tree-container .category {
  border: lightcoral solid 2px;
  padding: 0.5em;
  font-size: 1.2em; }
body .tb-tree-container .genre {
  border: lightslategray solid 2px;
  padding: 0.5em;
  font-size: 1em; }
body .tb-tree-container .tag {
  border: lightblue solid 2px;
  padding: 0.5em;
  font-size: 0.8em; }

.tb-ranking-container {
  height: 100%;
  width: 100%; }
  .tb-ranking-container .ranking-header {
    max-height: 20%;
    background: white; }
    .tb-ranking-container .ranking-header .title-content {
      text-align: center;
      padding: .3em; }
      .tb-ranking-container .ranking-header .title-content h2 {
        font-family: 'Alegreya Sans SC', sans-serif;
        position: relative;
        display: inline-block; }
      .tb-ranking-container .ranking-header .title-content h2:before {
        position: absolute;
        top: 1.3em;
        left: 0;
        content: "";
        display: inline-block;
        width: 0;
        height: 2px;
        background: darkgray;
        transition: 500ms; }
  .tb-ranking-container .ranking-body {
    min-height: 80%;
    overflow: auto;
    background: #3aabd2;
    max-height: calc(100% - 56px); }
    .tb-ranking-container .ranking-body .ranking-row {
      display: flex;
      justify-content: space-between;
      padding: .5em;
      color: white; }
      .tb-ranking-container .ranking-body .ranking-row .rank-number {
        width: 40px;
        text-align: center; }
    .tb-ranking-container .ranking-body .no-1 .rank-number, .tb-ranking-container .ranking-body .no-2 .rank-number, .tb-ranking-container .ranking-body .no-3 .rank-number {
      height: 40px; }
    .tb-ranking-container .ranking-body .no-1 .name, .tb-ranking-container .ranking-body .no-1 span:last-child, .tb-ranking-container .ranking-body .no-2 .name, .tb-ranking-container .ranking-body .no-2 span:last-child, .tb-ranking-container .ranking-body .no-3 .name, .tb-ranking-container .ranking-body .no-3 span:last-child {
      font-size: 1.2em;
      font-weight: bold;
      padding-top: 5px; }

.tb-ranking-container:hover .ranking-header h2:before {
  width: 100% !important; }

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0%); }
  100% {
    opacity: 0;
    transform: translateY(-10%); } }
body {
  font-size: 12pt;
  font-family: "Noto Sans JP', sans-serif";
  color: #444444;
  background: #ececec; }

a {
  color: #444444; }

.btn-primary a {
  color: white; }

.container {
  max-width: 1024px; }

.fa {
  padding-right: .2em; }

@media screen and (max-width: 768px) {
  .hide-sp {
    display: none; } }
@media screen and (min-width: 769px) {
  .hide-pc {
    display: none; }

  .tb-width-1 {
    width: calc(100% / 12 * 1); }

  .tb-width-2 {
    width: calc(100% / 12 * 2); }

  .tb-width-3 {
    width: calc(100% / 12 * 3); }

  .tb-width-4 {
    width: calc(100% / 12 * 4); }

  .tb-width-5 {
    width: calc(100% / 12 * 5); }

  .tb-width-6 {
    width: calc(100% / 12 * 6); }

  .tb-width-7 {
    width: calc(100% / 12 * 7); }

  .tb-width-8 {
    width: calc(100% / 12 * 8); }

  .tb-width-9 {
    width: calc(100% / 12 * 9); }

  .tb-width-10 {
    width: calc(100% / 12 * 10); }

  .tb-width-11 {
    width: calc(100% / 12 * 11); }

  .tb-width-12 {
    width: calc(100% / 12 * 12); }

  .tb-height-1 {
    height: calc(100% / 10 * 1); }

  .tb-height-2 {
    height: calc(100% / 10 * 2); }

  .tb-height-3 {
    height: calc(100% / 10 * 3); }

  .tb-height-4 {
    height: calc(100% / 10 * 4); }

  .tb-height-5 {
    height: calc(100% / 10 * 5); }

  .tb-height-6 {
    height: calc(100% / 10 * 6); }

  .tb-height-7 {
    height: calc(100% / 10 * 7); }

  .tb-height-8 {
    height: calc(100% / 10 * 8); }

  .tb-height-9 {
    height: calc(100% / 10 * 9); }

  .tb-height-10 {
    height: calc(100% / 10 * 10); } }
