@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
body{
    font-size: 12pt;
    font-family: "Noto Sans JP', sans-serif";
    color: #444444;
    background: #ececec;
}

a {
    color: #444444;
}

.btn-primary a {
    color: white;
}

.container {
    max-width:1024px;
}

.fa {
    padding-right: .1em;
}