.ranking-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.ranking-wrapper .grid {
    height: 49%;
    width: 49.5%;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}