<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/master/MasterEdit.js"></script>
<script src="/js/users/ProfileEdit.js"></script>
<link href="/css/users/profile_edit.css" rel="stylesheet">
<div class="profile-edit-wrapper">
    <div class="hobby-container">
        <ul class="my-hobbies"></ul>
      
        <button class="btn bg-success hobby-add" style="color:white">
            <i class="fa fa-plus-circle"></i>趣味を追加する
        </button>
    </div>
    <div class="ranking-container">
        ranking
    </div>
</div>
<script>
    $(function(){
        var profile_edit = new ProfileEdit($(".profile-edit-wrapper"));
        profile_edit.render();
    });
</script>